<div class="col-md-12">
  <h2><%= @task.title %></h2>
  <p><%= @task.description %></p>
</div>

<div class="text-center">
  <%= link_to("投交设计稿", new_task_resume_path(@task), :style => "font-size: 30px; text-decoration: underline;") %>
</div>
