<div class="col-md-12">
  <h2><%= @task.title %></h2>
  <%= simple_format(@task.description) %>
</div>

<div class="text-center">
  <div class="container">
    <button type="button" class="btn btn-primary btn-lg">
      <%= link_to("投交设计稿", new_task_resume_path(@task), :style => "font-size: 30px; color: white; text-decoration: underline;") %>
    </button>
  </div>
</div>
