<h1> <%= @task.title %> </h1>

<p>
  <%= simple_format(@task.description) %>

</p>

<div class="text-center">
  <%= link_to("投交设计稿", "#", :style => "font-size: 30px; text-decoration: underline;") %>
</div>
