

<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <section id="home" class="sec-main">

          <br>
          <p class="lead"; padding: 14px 40px;>
            <a class="btn btn-lg btn-success button button2" href="/tasks/">
              <i class="fa fa-flag fa-1x pull-left "></i>JOIN NOW</a>
          </p>
      </section>
    </div>
  </div>
</div>

<br>




<section id="home" class="sec-main">
    <h1 class="main-heading">MAKE UP YOUR OWN PROJECT </h1>
</section>

<section id="about" class="sec-about">
  <div class="container">
    <h1>About Us</h1>

    <hr />

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Hi, WELCOME to TD offer. What's TD meaning? TD is one week. Our mission is helping you to find your dream work just one week. Looks like impossible?
          Let me tell you, come TD, everything is possible!
      </div>
    </div>
  </div>
</section>



<div class="content-section-a">
  <div class="container">
    <h1>Why DT Task?</h1>
    <br>
    <hr />
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-4x fa-fighter-jet"></i>
        <h2 class="h3">Higher Effective</h2>
        <p>One Click, one Search, you will get what you want.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-4x fa-fighter-jet"></i>
        <h2 class="h3">Higher Effective</h2>
        <p>One Click, one Search, you will get what you want.</p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-4x fa-fighter-jet"></i>
        <h2 class="h3">Higher Effective</h2>
        <p>One Click, one Search, you will get what you want.</p>
      </div>
    </div>
  </div>
</div>

<section id="about" class="sec-about">
  <div class="container">
    <h1>About TASK

      <hr />

      <br>三步，拿走你的作品</h1>



    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

      </div>
    </div>
  </div>
</section>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">STEP 1  快速找到你的专场</h2>
        <p class="lead">从优势入手，还未出手就领先一截</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'qq5.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">STEP 2  拿走你的作品</h2>
        <p class="lead">进入人群中的1%，从拿出作品开始</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'qq6.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">STEP 3  新人生的之旅</h2>
        <p class="lead">不再仅仅被“别人”的话语洗脑，现在，让你的作品重塑你</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'qq7.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>




<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <section id="home" class="sec-main">
          <h1 class="main-heading">NEVER WAIT ANYMORE FROME HERE GET START YOU OWM LIVE TO MAKE UP COMPLIMENT GOODS</h1>
          <br>
          <p class="lead"; padding: 14px 40px;>
            <a class="btn btn-lg btn-success button button2" href="/tasks/">
              <i class="fa fa-flag fa-1x pull-left "></i>JOIN NOW</a>
          </p>
      </section>
    </div>
  </div>
</div>
