
<footer class="text-center">
  <div class="footer-below">
    <br>
    <p class="text-center">Copyright ©2017 DT
        <br>Design by
        <a href="http://qiaoyu-blog.logdown.com">qiaoyu</a>
    </p>
  </div>
</footer>



<!-- 以上部分，不需要记忆 -->
